// Navigation code here
.navdiv{
    .flexcolumn;
    align-items: center;
    background-color: @spacegray;
   
    h1{
        font-size: 5rem;
        margin-top: 2rem;
        margin-bottom:2rem;

    }
    nav{
        width: 500px;
        
        justify-content: space-around;
        margin-bottom: 2rem;
        .flexrow;
        a{
            font-size: 1.75rem;
            text-decoration: none;
        }

    }
}





  



