// Navigation code here
.navdiv{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: @spacegray;
   
    h1{
        font-size: 5rem;
        margin-top: 2rem;
        margin-bottom:2rem;

    }
    nav{
        width: 500px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 2rem;

        a{
            font-size: 1.75rem;
            text-decoration: none;
        }

    }
}





  



